#logo {
    background:#0BADA6 ;
    color:white;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 24px
}
.images img{
 height: 140px;
 width: 140px;
}

#description-image{
 float: left;
 height: 200px;
 width: 200px;
 margin-top: 20px;
 margin-right: 20px;
}
.comparison-images img{
    height: 400px;
    width: 400px;
   }

#landing-viz {
    float: left;
    width: 220px;
    height: 220px;
    margin-top: 20px;
    margin-right: 20px;
  }

#viz-main {
    height: 500px;
    width: 500px;
    float: left;
   }

